/*
1) Qué está haciendo lo siguiente?

.navbar-default .navbar-nav > li > a {
    color: white;
}    

.navbar-default .navbar-nav > .active > a {
    color: white;
}  

*/

.fondo {
    /*background-color: #8B0A02;
    background-image: url('./portafolio/header-bg.jpg');
    background-repeat: no-repeat;
    /*background-attachment: scroll;*/
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.color-fcfmyn:hover {
    color: #630600;
}
.color-body {
    background-color: #E3E3DE;
}
.navbar {
    background-color: #8B0A02;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
}
.navbar-dark .navbar-text {
    color: white;
    font-size: 1.5rem;
}
.navbar-dark .navbar-nav .nav-item .nav-link {
    color:white;
}
.navbar-nav > li > a {
    line-height: 50px;
}
.navbar-dark .navbar-nav > li:hover,
.navbar-dark .navbar-nav > li:focus {
    background-color: #630600;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
    background-color: #630600;
}